@charset "UTF-8";


@media (max-width: 1080px) { /* TABLETS */
    section#introducao, section#learn {
        display: block;
    }

    .col1, .col2 {
        width: 80%;
        margin: auto;
        padding: 0px;
        
    }

    section#introducao .col1 {
        margin-bottom: 40px;
    }

    section#learn > .col2 {
        display: none;
        
    }

    section#learn > .col1 {
        padding: 40px 0px;
        
    }
}

@media (max-width: 610px) { /* MOBILE */

    header {
        min-height: 0;
    }

    span#menu-icon {
        display: block;
        font-size: 2em;
        margin-top: 30px;
        padding: 7px;
        color: white;
        background-color: #68499b;
    }

    nav {
        display: none;
        margin-top: 0px;
        transition: display 2s;
    }

    nav a {
        display: block;
        background-color: #5d4189;
        border-top: 2px solid #573d81;
        margin: 0;
    }

    h1, h2 {
        font-size: 1.6rem;
    }

    h1 {
        width: 100%;
    }

    main p {
        font-size: 1rem;
    }


    .col1, .col2 {
        width: 96%;
    }

    section#artigos {
        padding: 0px;
    }

    section#artigos p {
        font-size: 1rem;
        text-align: justify;
        padding: 0px 10px;
    }

    section#artigos > h3 {
        padding-bottom: 10px;
    }

    section#artigos > h3 > span#list-expand {
        display: inline-block;
        width: calc(100% - 120px);
        font-size: 2rem;
        text-align: center;
        background-color: transparent;
        margin-left: 5px;
        transform: translateY(4px);
    }
    
    ul{
        display: none;
        padding: 0px;
        min-height: fit-content;
        text-align: left;
        list-style-type: none;
        width: 100%;
    }

    ul li {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    ul a {
        text-align: center;
        display: block;
        font-size: 1rem;
        font-weight: normal;
        padding: 10px;
        color: white;
        background-color: #6d4d9f;
        text-decoration: none;
        border: none;
        border-top: 1px solid #5b4085;
        transition: 0.5s;
    }

    footer > p#cabecalho {
        font-size: 0.8rem;
    }
}