@charset "UTF-8";


@media (max-width: 1080px) { /* TABLETS */
    section#introducao, section#learn {
        display: block;
    }

    .col1, .col2 {
        width: 80%;
        margin: auto;
        padding: 0px;
        
    }

    section#introducao .col1 {
        margin-bottom: 40px;
    }

    section#learn > .col2 {
        display: none;
        
    }

    section#learn > .col1 {
        padding: 40px 0px;
        
    }
}

@media (max-width: 610px) { /* MOBILE */

    header {
        min-height: 0;
    }

    span#menu-icon {
        display: block;
        font-size: 2em;
        margin-top: 30px;
        padding: 7px;
        color: white;
        background-color: #68499b;
    }

    nav {
        display: none;
        margin-top: 0px;
        transition: display 2s;
    }

    nav a {
        display: block;
        background-color: #5d4189;
        border-top: 2px solid #573d81;
        margin: 0;
    }

    ul{
        text-align: left;
    }
}