@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
    --cor-principal1: #FBEAFF;
    --cor-principal2: #845EC2;
    --cor-secundaria: #B39CD0;
    --cor-accent: #00C9A7;

    --fonte-padrao: 'Open Sans', Arial, sans-serif;
    --fonte-destaque: 'Ubuntu', Helvetica, sans-serif;
    --fonte-accent: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 1rem;
}

h1 {
    font-size: 1.8rem;
    margin: 0px 0px 10px 0px;
}

h2 {
    font-size: 1.8rem;
    margin: 0px 0px 10px 0px;
}

header {
    background-color: var(--cor-principal2);
    text-align: center;
    min-height: 142px;
    padding: 32px 0px 0px 0px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.226);
}

header > h1 {
    color: white;
    font-size: 2.4rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
    margin: 0px;
}

header > p {
    color: white;
    font-weight: lighter;
    font-size: 0.8rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.205);
}

nav {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    font-weight: bold;
}

nav > a {
    font-family: var(--fonte-accent);
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0px 20px;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor-accent);
    color: var(--cor-principal2);
    border-radius: 6px;
}

main {
    background-color: var(--cor-principal1);
    max-width: 1100px;   /*  TAMANHO IDEAL: 869px */
    min-width: 320px;
    margin: auto;
    padding-top: 50px;
    text-align: justify;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.226);
}

main p {
    font-size: 1.1rem;
    line-height: 2rem;
}

main img {
    width: 100%;
}

section#introducao {
    display: flex;
}


.col1 {
    width: 50%;
    padding: 30px;
}

.col1 p {
    width: 100%;
}

.col2 {
    width: 50%;
    padding: 30px;
    margin-top: 5%;
}

section#learn {
    display: flex;
    margin: 70px 0px 0px 0px;
    color: white;
    background-color: var(--cor-principal2);
}

section#learn h2 {
    text-align: center;
}


.button {
   
    margin: auto;
    max-width: fit-content;
    margin-top: 40px; 
    
}

.btn1 {
    background-color: var(--cor-accent);
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--fonte-accent);
    padding: 15px 25px;
    border: 1px;
    color: white;
    cursor: pointer;
    transition: 0.4s;

}

.btn1:hover {
    background-color: white;
    color: var(--cor-accent);
    border: 2px solid var(--cor-accent);
}

section#artigos {
    padding: 50px;
    margin-top: 90px;
    text-align: center;
}

section#artigos p {
    margin: auto;
    max-width: 660px;
    font-size: 1.1rem;
    line-height: 1.8rem
}

h3#lista_titulo {
    background-color: var(--cor-principal2);
    color: white;
    text-align: left;
    font-size: 1.3rem;
    margin-top: 50px;
    padding: 5px 0px 5px 10px;
}

div#lista_art {
    background-color: var(--cor-secundaria);
    min-height: 400px;
    padding: 50px 0px 0px 30px
}

ul {
    list-style-position: inside;
    list-style-type: '\1F4DC\00A0';
    width: fit-content;
}

ul li {
    font-size: 1.2rem;
    color: black;
    font-weight: normal;
    padding: 2px 0px 2px 2px;
    margin-bottom: 20px;
    width: fit-content;
}

ul a {
    font-weight: normal;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: 0.5s;
}

ul a:hover {
    color: white;
    font-size: 1.3rem;
}

footer {
    background-color: var(--cor-principal2);
    color: white;
    text-align: center;
    padding-top: 10px;
}

footer > h1 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);
}

footer > p {
    font-size: 0.9rem;
}

footer > p#quote {
    max-width: 400px;
    margin: auto;
    font-style: italic;
}

footer > .midias-sociais {
    margin: 10px auto 10px auto;
}

.midias-sociais > a {
    margin: 10px;
}

footer > #cabecalho {
    background-color: rgba(0, 0, 0, 0.699);
    padding: 5px;
}


@media (max-width: 1080px) {
    section#introducao, section#learn {
        display: block;
    }

    .col1, .col2 {
        width: 80%;
        margin: auto;
        padding: 0px;
        
    }

    section#introducao .col1 {
        margin-bottom: 40px;
    }

    section#learn > .col2 {
        display: none;
        
    }

    section#learn > .col1 {
        padding: 40px 0px;
        
    }
}

@media (max-width: 610px) {
    ul{
        text-align: left;
    }

    nav a {
        margin: 0px 10px;
    }
}
